.side-contents
  .side-bar
    .side-bar__box
      %p.side-bar__box__username
        masaoka
      %ul.side-bar__box__items
        %li.side-bar__box__edit
          =  link_to  "#",  class:  'edit'  do
            =  icon('fas',  'edit')
        %li.side-bar__box__new
          =  link_to  "#",  class:  'new'  do
            =  icon('fas',  'cog')
  
  .side-groups
    .side-groups__group
      %p.side-groups__group__name
        sasakure
      %p.side-groups__group__message
        まだメッセージがありません

  
    






